<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>v2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="static/css/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="../bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

    </head>
    <body class="flex-container">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="flexItem"></div>
        <div class="screen flex-container">
            <div id="menu" class="flex-container-vertical">
                <div class="menu-header flex-container flexItem">
                    <div class="menu-head-icon" style="background-image:url('static/img/PilvivaylaLogo.png');"></div>
                </div>
                <div class="menu-options flex-container-vertical">
                    <div class="menu-option flex-container-vertical">
                        <div class="menu-icon" style="background-image:url('static/img/BazaarCloudIcon.png');"></div>
                        <div class="drawer">
                            Home
                        </div>
                    </div>
                    <div class="menu-separator"></div>
                    <div class="menu-option flex-container-vertical">
                        <div class="menu-icon" style="background-image:url('static/img/ProfileIcon.png');"></div>
                        <div class="drawer">
                            Profile
                        </div>
                    </div>
                    <div class="menu-option flex-container-vertical">
                        <div class="menu-icon" style="background-image:url('static/img/SearchIcon.png');"></div>
                        <div class="drawer">
                            <div class="flex-container drawer-search">
                            <div class="menu-icon" style="background-image:url('static/img/SearchIcon.png');"></div>
                            <input class="flexItem" type="search" name="search" placeholder="Search...">
                            <div class="menu-icon" style="background-image:url('static/img/SupportIconTEMP.png');"></div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-option flex-container-vertical">
                        <div class="menu-icon" style="background-image:url('static/img/SupportIconTEMP.png');"></div>
                        <div class="drawer">
                            Support
                        </div>
                    </div>
                    <div class="menu-separator"></div>
                    <div class="menu-option flex-container-vertical">
                        <div class="menu-icon" style="background-image:url('static/img/QandAIcon.png');"></div>
                        <div class="drawer">
                            Questions and Answers
                        </div>
                    </div>
                </div>
            </div>  


            <div class="menu-block">
            </div>
            <div id="content" class="content-column flexItem">
                <div class="header">
                    <!--
                    <p>Welcome to the</p>
                    <h1>Bazaar!</h1>
                    <p>The new home for digital educational material.</p>
                -->
                </div>
                <div class="nav flex-container">
                    <div class="flexItem2 flex-container">
                        <div>Filter content by tags:
                            <input /></div>
                        <div>Recommended:
                            <div class="tag">biology<div>x</div></div></div>
                    </div>
                    <div class="flexItem">
                    </div>
                </div>
                    
                <div class="flex-container">
                    <div id="content-column" class="flexItem2">
                        <h1>Most Appreciated by Teachers</h1>
                        <div class="flex-container flex-wrap">
                            <div class="flexItem2 appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexItem appBox">
                                <h1>Mitosis App</h1>
                                <p class="price">€9.99</p>
                                <div class="icon" style="background-image:url(static/img/ApplicationIconTEST.png)"></div>
                                <p class="provider"><a href="#">by Sanoma</a></p>
                                <p class="topic">Biology</p>
                                <p class="grade">Grade</p>
                                <p class="rating"><img src="static/img/RatingIcons.png"></p>
                                <p class="more"><img src="static/img/MoreIconTest.png"></p>
                            </div>
                            <div class="divider-line"></div>
                        </div>
                    </div>


                    <div id="blog-column" class="flexItem">
                        <h1>Blogs</h1>
                        <div class="blog-post">
                            <h2><a href="#">First post</a></h2>
                            <h3><a href="#">by Author</a></h3>
                            <p>Bacon ipsum dolor sit amet ut officia pastrami t-bone frankfurter chicken sint pork nisi shankle dolore meatball. Tempor in excepteur reprehenderit. Ullamco anim pork boudin<a href="#">...</a>
                        </div>
                        <div class="blog-post">
                            <h2><a href="#">Second post</a></h2>
                            <h3><a href="#">by Author</a></h3>
                            <p>Bacon ipsum dolor sit amet ut officia pastrami t-bone frankfurter chicken sint pork nisi shankle dolore meatball. Tempor in excepteur reprehenderit. Ullamco anim pork boudin<a href="#">...</a>
                        </div>
                        <h1>Q&A</h1>
                        <div class="qaa">
                            abc
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
        <div class="flexItem"></div>



        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- build:js scripts/plugins.js -->
        <!--
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
        -->
        <!-- endbuild -->


        <script src="../bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="../bower_components/jquery-hoverIntent/jquery.hoverIntent.js"></script>

        <script type="text/javascript">

            // Animations
            $('#menu').addClass('animated fadeInLeft');
            $('.menu-header').addClass('animated fadeInDown');
            $('.menu-options').addClass('animated fadeInUp');
            $('.content-column').addClass('animated fadeInUp');

            function openSubMenu() {
                $(this).children('.drawer').show('slide');    
            };
            function closeSubMenu() {
                $(this).children('.drawer').hide('slide'); 
            };
            
            $('.menu-option').hoverIntent( openSubMenu, closeSubMenu );
            
        </script>
</body>
</html>
