@import "base";
@import "animate/animate";

* {
  box-sizing: border-box;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-family: $default-font;
}

textarea, input { outline: none; }

.header {
    height: $header-height;
    text-align: center;
    background: $banner-color;
    h1 {
        font-family: Bello;
        margin: 0px;
        font-size: $header-height * 0.8;
        line-height: $header-height;
    }
}

img {
    height: 100%;
}

.menu-column {
    width: $menu-width;
    float: left;
    position: absolute;
    background: $vertical-bar-color;
    top: 0px;
    bottom: 0px;
    .menu-icon {
        margin: 5px 10px;
        height: $menu-width - 20;
        width: $menu-width - 20;
        background: #666;
    }
}

.content-column {
    width: 100%;
    padding-left: $menu-width;

    .nav {
        font-size: 0;
        height: $nav-height;
        li {
            font-size: 22px;
            display: inline-block;
            border: 1px solid #999;
            margin: 0px;
            width: 180px;
            text-align: center;
            font-family: LexiaDaMa;
            a {
                color: #222;
                height: $nav-height;
                padding: 4px;
            }
        }
    }
    .sub-nav {
        font-size: 0;
        height: $nav-height * 2;
        padding: 0px;
        li {
            font-size: 16px;
            display: inline-block;
            margin: 0px;
            text-align: center;
            width: 80px;
            line-height: 50px;
            font-family: LexiaDaMa;
            a {
                color: #222;
                height: $nav-height * 2;
                padding: 4px;
            }
        }
        li:nth-child(odd) {background: #009CDE;}
        li:nth-child(even) {background: #62B5E5;}
    }

    #search-box {
        float: right;
        padding: 6px;
        input {
            border-radius: 5px;
            border: 2px solid #cacaca;
        }
        input:focus {
            border: 2px solid #222222;
        }
    }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        /*margin-bottom: 30px;*/
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
